@charset "UTF-8";

/* 1280以上 */
@media screen and (min-width: 1240px){
    /* Default Styles */
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size : 1.5rem;
    }

    li {
        font-size: 1.875rem;
    }

    p {
        font-size: 1.4375rem;
    }

    /* Mainvisual */
    i {
        font-size: 3rem;
    }

    .qiita-image {
        height: 3rem; 
    } 

    .social-links li{
        height: 3rem;
    }

    /* Hobby */
    .title {
        font-size: 3rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .sentence-bottom {
        font-size: 1.2rem;
    }

    /* Skills */
    .skill-experience-items li {
        font-size: 1.5rem;
    }

    .skills-table th {
        font-size: 1.5rem;
    }

    .skills-table td {
        font-size: 1.4rem;
    }

}




