@charset "UTF-8";

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

li {
    font-size: 1.2rem;
}

p {
    font-size: 0.8rem;
}

i {
    font-size: 2rem;
}

.qiita-image {
    height: 2rem; 
}

.social-links li{
    height: 2rem;
}

