@charset "UTF-8";

/* 768以上 */
@media screen and (min-width: 768px){
    /* Default Styles */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size : 1.2rem;
    }

    li {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    /* Mainvisual */
    i {
        font-size: 2.5rem;
    }

    .qiita-image {
        height: 2.5rem; 
    }

    .social-links li{
        height: 2.5rem;
    }

    /* Hobby  */
    .title {
        font-size: 2.5rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    .sentence-bottom {
        font-size: 1rem;
    }

    /* Skills */
    .skill-experience-items li {
        font-size: 1.2rem;
    }

    .skills-table th {
        font-size: 1.2rem;
    }

    .skills-table td {
        font-size: 1.1rem;
    }

}




