@charset "UTF-8";

/* 768以上 */
@media screen and (min-width: 48em){
    /* Default Styles */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    li {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* Mainvisual */
    i {
        font-size: 2.5rem;
    }

    .qiita-image {
        height: 2.5rem; 
    }

    .social-links li{
        height: 2.5rem;
    }
}




