@charset "UTF-8";

/* Default Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
    font-family: "Piazzolla", serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1, h2, h3 {
    font-family: "Piazzolla", serif;
}

p {
    color: #504A4A;
    font-family: "Noto Sans JP";
}

table {
    border-collapse: collapse;
}

th {
    font-family: "Piazzolla", serif;
    color: #504A4A;
}

/* Reusable Classes */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3%;
}

.title, .sub-title {
    color: #FCAE76;
}

/* Header */
header {
    background-color: #FCAE76;
    height: 92px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 116px;
    height: 73px;
}

.header-logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li + li{
    margin-left: 30px;
}

/* Mainvisual */
#mainvisual {
    background-color: #FCAE76;
    padding: 5% 0;
    margin-bottom: 100px;
}

.mainvisual-container {
    display: flex;
}

.mainvisual-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

TODO なぜこの記述方法なのか　親要素がレスポンシブ対応になっているため、自動的にレスポンシブ対応になる。
.mainvisual-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.mainvisual-contents {
    width: 70%;
    margin-left: 3.75rem;
    display: flex;
    align-items: center;
}

.mainvisual-title, .mainvisual-subtitle {
    color: #FFFFFF;
    font-weight: normal;
}

.mainvisual-title span{
    font-weight: 700;
}

.social-links {
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.social-links li + li {
    margin-right: 28px;
}

/* Hobby */
#hobby {
    margin-bottom: 100px;
}

.hobby-container {
    margin-top: 24px;
    display: flex;
}

.hobby-image {
    width: 50%;
    margin-right: 3%;
}

.hobby-image img {
    display: block;
    width: 100%;
    height: auto;
}

.hobby-contents {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
}

.hobby-contents p:first-child {
    text-indent: 1rem;
}


TODO　なぜdisplayにblockをつけるのか
.hobby-image img {
    display: block;
    width: 100%;
    height: auto;
}

/* Skills */
#skills {
    margin-bottom: 100px;
}

.skill-experience {
    font-family: "Noto Sans JP";
    color: #504A4A;
}

.skill-experience-items {
    display: flex;
}

.skill-experience-items li {
    font-family: "Noto Sans JP";
    font-size: 1.2rem;
    color: #504A4A;
    padding: 0 12px;
}

.skill-experience-items li:first-child {
    padding-left: 0;
}

.skill-experience-items li + li {
    border-left: 2px #504A4A solid;
}

.skills-table {
    width: 100%;
}

.skills-table tr {
    border-bottom: 1px #504A4A solid ;
}

.skills-table th {
    text-align: left;
    padding-top: 12px;
    padding-right: 15px;
    width: 30%;
    border-right: 1px #504A4A solid;
}

.skills-table tr:first-child th{
    padding-top: 0;
}

/* .skills-table tr td:first-child {
    border-right: 1px #504A4A solid;
} */

.experience-mark-star::before {
    content: "☆";
}






