@charset "UTF-8";

/* Default Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1, h2, h3 {
    font-family: "Piazzolla", "serif";
}

p {
    color: #504A4A;
    font-family: "Noto Sans JP";
}

/* Reusable Classes */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3%;
}

.title, .sub-title {
    color: #FCAE76;
}

/* Header */
header {
    background-color: #FCAE76;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav ul {
    display: flex;
}

.header-nav li {
    font-family: "Piazzolla", "serif";
    font-weight: bold;
}

.header-nav ul li + li{
    margin-left: 30px;
}

/* Mainvisual */
#mainvisual {
    background-color: #FCAE76;
    padding: 5% 0;
}

.mainvisual-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: block;
}

.mainvisual-title, .mainvisual-subtitle {
    color: #FFFFFF;
    font-weight: normal;
}

.mainvisual-title span{
    font-weight: 700;
}

.social-links li + li {
    margin-left: 28px;
}

/* Hobby */
.hobby-contents p:first-child {
    text-indent: 1rem;
}


/* TODO　なぜdisplayにblockをつけるのか */
.hobby-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Skills */
.skill-experience {
    font-family: "Noto Sans JP";
    color: #504A4A;
}

.skill-experience-items {
    margin-bottom: 8px;
}

.skill-experience-items li {
    font-family: "Noto Sans JP";
    font-weight: bold;
    color: #504A4A;
}

.table-supplement {
    font-size: 0.8rem;
}

th {
    font-family: "Piazzolla", "serif";
    color: #504A4A;
}

.skills-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    border-top: 2px #504A4A solid;
    border-left: 2px #504A4A solid;
    width: 100%;
    font-size: 1.2rem;
    color: #504A4A;
}

.skills-table th, .skills-table td {
    border-right: 1px #504A4A solid;
    border-bottom: 1px #504A4A solid;
}

.skills-table td:last-child {
    border-right: 2px #504A4A solid;
}

.skills-table tr:nth-child(5) th, .skills-table tr:nth-child(5) td {
    border-bottom: 2px #504A4A solid;
}

.skills-table tr:first-child th {
    border-radius: 8px 0 0 0;
}

.skills-table tr:first-child td:last-child {
    border-radius: 0 8px 0 0;
}

.skills-table tr:last-child th {
    border-radius: 0 0 0 8px;
}

.skills-table tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
}

.skills-table tr:nth-child(5) td:last-child {
    border-radius: 0 0 8px 0;
}

.skills-table tr:nth-child(5) th {
    border-radius: 0 0 0 8px;
}


.skills-table tr:nth-child(odd) {
    background-color: #FBD8BF;
}

.skills-table th {
    text-align: left;
    padding: 12px 16px 0 16px;
    width: 20%;
}

.skills-table td {
    padding-top :12px;
    text-align: center;
}

.experience-mark {
    /* border-right: 1px #504A4A solid; */
    width: 10%;
}

.experience-mark-css {
    color: #504A4A;
}

.experience-mark-star::before {
    content: "☆";
}

.experience-mark-triangle::before {
    content: "△";
}

.skills-accordion-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #504A4A;
}

.material-symbols-outlined {
    font-size: 2.5rem;
}






